<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css For Shopping Cart. -->
    <link rel="stylesheet" href="/stylesheets/shoppingCart.css">
    <title>Document</title>
</head>
<body>
    
<h1 class="label">Shopping Cart</h1>

<div class="shopping-cart" id="shopping-cart">

</div>









</body>


</html>