<% layout('layouts/boilerplate')%> 
<div class="row">
    <h1 class="text-center">Add New Coffee Shop</h1>
    <div class="col-6 offset-3">
        <form action="/coffeeshops" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3"> 
                <label for="title" class="form-label">Title</label>
                <input class="form-control" placeholder="Enter Name" type="text" id="title" name="coffeeshop[title]" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>  
            
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" placeholder="Enter Location" type="text" id="location" name="coffeeshop[location]" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>

            <!-- <div class="mb-3">
                <label for="image" class="form-label">Image Url</label>
                <input type="text" class="form-control" placeholder="Enter Image Url" id="image" name="coffeeshop[image]" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div> -->
            <div class="mb-3 custom-file">
              <label for="image" class="form-label custom-file-label">Choose Files</label>
              <input class="form-control custom-file-input" type="file" id="image" name="image" multiple>
        </div>

            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control"  placeholder="Enter Price" name="coffeeshop[price]" id="price" required>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" placeholder="Enter Description" type="text" id="description" name="coffeeshop[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Coffeeshop</button>
            </div>
            </form>
            <a href="/coffeeshops">Back to All Coffeeshops</a>
    </div>
</div>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
